html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 30px 10px 30px 10px;
    padding: 10px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 61, 61);
    background-color: rgb(174, 174, 174);
    text-align: center;
    border: 5px solid rgb(223, 223, 223); 
    position: fixed;
    box-align: center;
    
}

body {
    background-color: rgb(13, 45, 45);
    margin: 0 auto;
}

div {
    font-size: 60px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin: 5px;
    padding: 8px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.562);
}
